.photographyCards {
  height: 400px;
  width: 100%;
  display: flex;
}

.photographyCard {
  flex: 1 1 300px;
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.collectionTitle {
  padding: 20px;
  font-size: 40px;
  letter-spacing: 3px;
}

.photosMasonry {
  width: 100%;
  display: flex;
}

.photoElement {
  height: 200px;
  padding: 8px;
  transition: transform 0.3s ease;
}

.photoElement:hover {
  transform: scale(1.1);
  cursor: pointer;
}
