.lightboxBackdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightboxPhoto {
  max-height: 80vh;
  max-width: 80vw;
  box-shadow: 10px 15px 35px rgba(0, 0, 0, 0.8);
}

.arrows {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftCursor {
  cursor: url('./icon-cursor-arrow-left.svg'), auto;
}

.rightCursor {
  cursor: url('./icon-cursor-arrow-right.svg'), auto;
}

.leftArrow,
.rightArrow {
  width: 10vw;
  height: 50px;
  padding: 10px;
  z-index: 2;
  opacity: 0;
}

.leftArrow.visible,
.rightArrow.visible {
  cursor: pointer;
  opacity: 1;
}

.leftArrow {
  transform: rotate(180deg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipeable {
  width: 100%;
}
